* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.menu{margin-top:50px;}
.top-menu {

	background-color: black;
}
.top-menu p {
	margin-bottom: 0;
	line-height: 16px;

}
.top-menu a {
	margin-bottom: 0;
	line-height: 16px;
	font-size: 15px;
	color: cyan;
	/*font-weight: 400;*/
}

.content{
	width:100%
	display: block;
	padding-top: 10px;
}
.header{
	padding: 0px;
	margin: 0px;
}
h4 {
	font-size: 18px;
	color: #4A4A4A;
	line-height: 23px;
	font-weight: bold;
}

.listitems{
	color: blue;
}
/* Create two columns/boxes that floats next to each other */
#nav {
  float: left;
padding-top:20px;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;

	height:500px;
}

/* Style the list inside the menu */
#nav ul {
  list-style-type: none;
  padding: 0;
}
.flash{
	background-color: yellowgreen;
	display: block;
}
#article{

	padding-top:20px;
	height: 500px;
}
.catlink{font-size: 10px;
color:red;}
/* Style the footer */
#footer
{
  padding: 10px;
	text-align: center;
	background-color: black;
	color: white;
}
.banner {
	height: 100px;
	background: url("/static/SAbanner.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.glyphicon {
	margin-right: 10px;
}

p {
 	font-family: "Georgia", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: darkblue;
 	line-height: 24px;
 	font-weight: 400;
 }
