{% extends "main.html" %}
{% block content %}
	<form action="#" method = "post">
    <div>

      <a href="{{url_for('showlistItems')}}">Cancel</a><br><br>
      <div><label for="name">Title</label>
      <input type="text" name="name" value=""></div>
      <div><label for="desc">Description</label>
      <input type="text" name="desc" value=""></div>
      <div>
        <label for="catagory">Category</label>

        <select  name="category">
          {%for c in categories%}
            <option value="{{c.id}}">{{c.name}}</option>
          {%endfor%}
        </select>
      </div>
      <br>
    <button type="submit" id="submit" type="submit">Add </button>
  </div>
</form>
{% endblock %}
