{% extends "main.html" %}
{% block content %}
<form action="{{url_for('editItem',itemid=item.id)}}" method="post">
  <div>

    <a href="{{url_for('showlistItems')}}">Cancel</a><br>

    <div><label for="name">Title</label>
    <input type="text" name="name" value="{{item.name}}"></div>
    <div><label for="desc">Description</label>
    <input type="text" name="desc" value="{{item.description}}"></div>
    <div>
      <label for="catagory">Category</label>

      <select  name="category">
        {%for c in categories%}
            {% if c.id==item.category_id %}
              <option value="{{c.id}}" selected>{{c.name}}</option>
            {% else%}
                <option value="{{c.id}}">{{c.name}}</option>
            {% endif %}
        {%endfor%}
      </select>
    </div>
    <button type="submit" id="submit" >Submit</button>
  </div>
</form>
{% endblock %}
