{% extends "main.html" %}
{% block content %}
<form action="{{url_for('editItem',itemid=item.id)}}" method="post">
<div class="col-md-6"><a href="{{url_for('showlistItems')}}">Cancel</a></div><br>
  <div class="form-group col-md-6">

  <label for="name">Title</label>
    <input class="form-control" maxlength="100" type="text" name="name" value="{{item.name}}"><br>
    <label for="desc">Description</label>
      <textarea class="form-control" maxlength="250" rows="3" name="desc">{{item.description}}</textarea><br>


      <label for="catagory">Category</label>

      <select class="form-control"  name="category">
        {%for c in categories%}
            {% if c.id==item.category_id %}
              <option value="{{c.id}}" selected>{{c.name}}</option>
            {% else%}
                <option value="{{c.id}}">{{c.name}}</option>
            {% endif %}
        {%endfor%}
      </select>
<br><br>
    <button class="btn btn-default delete" type="submit" id="submit" >Submit</button>
  </div>

</form>
{% endblock %}
