<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style_1.css') }}"></head>
	<body>

		<!--<div class="banner"></div>-->

		<div class="container-fluid">
			<div class="row top-menu">
				<div class="col-xs-3 menu">
					<a href="{{url_for('showlistItems')}}">
						<span class="glyphicon" aria-hidden="true"></span>Item Catalog App
					</a>
				</div>
				<div class="col-xs-8 banner">

				</div>
				<div class="col-xs-1 text-right menu">
					{%if 'username' not in session %}
				<a href="{{url_for('showLogin')}}">Login </a>
				{% else %}
				<a href="{{url_for('disconnect')}}">Logout </a>
				{% endif %}

				</div>
			</div>
		  <div class="row">
		    <div id="nav" class="col-xs-3">
					<h4>Categories</h4>
 		       {% for i in categories %}
 		       <a href={{url_for('showCatalogItems',catalogItem=i.name)}}>{{i.name}}</a><br>
 		       {% endfor %}
		    </div>
		    <div id="article" class="col-xs-9">
					<div class="text-right">
						<a  href="{{url_for('addNewCategory')}}">Add Category</a> &nbsp;&nbsp;
					<a  href="{{url_for('addNewItem')}}">Add item</a>

					</div>
					<div class="flash">
						{% with messages=get_flashed_messages()%}
						{% if messages %}
							<ul>
								{% for message in messages %}
									<li><strong>{{message}}</strong></li>
								{% endfor %}
							</ul>
							{% endif%}
						{% endwith %}
					</div>

						<div class="content">
							{% block content %}
							{% endblock %}
						</div>


		    </div>
		  </div>
			<div id="footer" class="row">
			       <span class="text-muted">
			         Divya Suneeth |
			         <a href="https://github.com/divyasuneeth/CatalogAPI">GitHub</a>
			       </span>
			</div>
		</div>




	</body>
</html>
